<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808124910873-8v9947c1hc7cqq8v0gh3to4k6l66st4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808124910873-8v9947c1hc7cqq8v0gh3to4k6l66st4b</string>
	<key>API_KEY</key>
	<string>AIzaSyASJ_NTLbnB9NPcqbPOvNIMtHzYCN1feCc</string>
	<key>GCM_SENDER_ID</key>
	<string>808124910873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BekusovDanyaev.SafePass-v2</string>
	<key>PROJECT_ID</key>
	<string>safepass-8d41d</string>
	<key>STORAGE_BUCKET</key>
	<string>safepass-8d41d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808124910873:ios:f6953399c50f67801e8988</string>
</dict>
</plist>